// Override this file to add your own SCSS styling.

.my-project {
  h1{
    color: white;
  }
  p{
    font-size: 0.8em;
    color: white;
  }
}

.my-button {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #bd3333;/*ボタン色*/
  color: #FFF;
  border-width: 0px;
  border-bottom: solid 4px #612222;
  border-radius: 3px;
}
.my-button:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.my-box {
  background-color: #313131;
  width: 7em;
  height: 0.2em;
  margin-bottom: 2em;
}

.my-author-box {
  width: 3em;
  height: 0.2em;
  margin: 3em 0 3em 0;
}


.my-divider {
  padding: 20px 0px 0px 0px;
}

.my-right-dividor {
  border-right: solid 0.05em silver;
}

@media screen and (max-width: 992px) {
  .my-right-dividor {
    border-right: solid 0 silver;
  }
}

.tag-cloud {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.tag-cloud a {
  flex-grow: 1;
}

.over-image {
  padding: 0px !important;

  h1 {
    opacity: 0;
    height: 0px;
  }

  .container {
    position: relative;
    // max-width: 1000px;
    top: -4rem;
    margin-bottom: -3em;
  }

  .icon-scale {
    overflow: hidden;

    a {
      transition: 0.2s;
    }
    a:hover {
      transform: scale(1.05);
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.card {
  box-shadow: none;
  border: none;
  margin-bottom: 20px !important;
  background-color: rgba(256, 256, 256, 0.8);
  border-bottom: 1px lightgray solid;
  border-radius: 0;

  .my-card {
    padding-bottom: calc(65% + 100px);
  }

  .card-image {
    overflow: hidden;

    .my-square::before {
      padding-top: 65%;
    }
    .my-square::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      background-color: rgba(255,255,255,0.3);
      opacity: 0;
      -webkit-transition: opacity 150ms linear;
      transition: opacity 150ms linear;
    }

    img {
      padding: 0;
      // object-fit: contain;
      object-fit: cover;
      transition: 0.2s;
    }
  }

  .my-rest {
    background: inherit;
  }

  h4 {
    margin-top: 0.6em;
  }

  .card-text {
    padding-left: 1.3em;

    p {
      font-size: 0.65em;
    }
  }
  // .card-text::after {
  //   content: "";
  //   position: absolute;
  //   top: 30%;
  //   left: 0.0em;
  //   width: 4px;
  //   height: 50%;
  //   background-color: gray;
  // }
}

.card:hover {
  background-color: white;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);

  .card-image {
    .my-square::after {
      opacity: 1;
      -webkit-transition: opacity 150ms cubic-bezier(.165,.84,.44,1);
      transition: opacity 150ms cubic-bezier(.165,.84,.44,1);
    }

    img {
      padding: 0;
      transform: scale(1.03);
    }
  }
}
