// Override this file to add your own SCSS styling.

.my-project {
h1{
    color: white;
}
}

.my-button {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #bd3333;/*ボタン色*/
  color: #FFF;
  border-width: 0px;
  border-bottom: solid 4px #612222;
  border-radius: 3px;
}
.my-button:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
