// Override this file to add your own SCSS styling.

.my-project {
  h1{
    color: white;
  }
  p{
    font-size: 0.8em;
    color: white;
  }
}

.my-button {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #bd3333;/*ボタン色*/
  color: #FFF;
  border-width: 0px;
  border-bottom: solid 4px #612222;
  border-radius: 3px;
}
.my-button:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.my-box {
  background-color: #313131;
  width: 7em;
  height: 0.2em;
  margin-bottom: 2em;
}

.my-author-box {
  width: 3em;
  height: 0.2em;
  margin: 3em 0 3em 0;
}


.my-divider {
  padding: 20px 0px 0px 0px;
}

.my-right-dividor {
  border-right: solid 0.05em silver;
}

@media screen and (max-width: 992px) {
  .my-right-dividor {
    border-right: solid 0 silver;
  }
}

.tag-cloud {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.tag-cloud a {
  flex-grow: 1;
}
.tag-cloud i {
  margin-right: 0.1em;
}

.over-image {
  padding: 0px !important;

  h1 {
    opacity: 0;
    height: 0px;
  }

  .container {
    position: relative;
    top: -8rem;
    margin-bottom: -6em;
  }
}

#profile-page {
  background: lightgray;
  padding-bottom: 4em;

  .container {
    padding-top: 4em;
    padding-bottom: 4em;
    background-color: white;
    border-radius: 0.4em;
  }
}

#profile {
  background-color: white;
}

#profile-text {
  padding: 3em !important;
}

.paper-shadow {
  box-shadow: 1px 10px 10px gray;
}
